// Breakpoints
$XS: 320px !default;
$S: 508px !default;
$M: 754px !default;
$XM: 980px !default;
$L: 1200px !default;
$XL: 1300px !default;
$NEW_XL: 1420px !default; // After update grid system needs replace to `XL` everywhere.
$XXL: 1792px !default;
