.story-container {
  position: absolute;
  inset: 0; // top, right, bottom, left: 0
  overflow: hidden;
  transform-origin: center;
}

.story_controls {
  position: absolute;
  z-index: 999;
  inset: 0;
  height: 82%;
  @include media(M) {
    height: 100%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.text_container {
  position: absolute;
  inset: 0;
  display: flex;
  background: linear-gradient(0deg, #7000FF 0%, #110E1B 119.92%);
  @include media(M) {
    width: 58.2vh;
    left: 50%;
    transform: translateX(-50%);
    height: 90%;
    top: 5%;
    overflow: hidden;
    border-radius: 3vh;
    box-shadow: 0 0 8px rgba(153, 75, 255, 0.6);
  }
}

.stories-segment {
  position: absolute;
  inset: 0;
  opacity: 1;
  z-index: 1;
}

// Генерируем z-index для сегментов через цикл
@for $i from 1 through 4 {
  #stories-segment_#{$i} {
    z-index: $i;
  }
}

.h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.5vh;
  color: var(--color-text-alt);
  text-align: left;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 800;
  width: 100%;
  line-height: 115%;
  margin-left: 3vh;
}

.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 20%,
    black 40%,
    black 70%,
    transparent 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 20%,
    black 40%,
    black 70%,
    transparent 85%,
    transparent 100%
  );
}

.close_button {
  position: fixed;
  left: 0;
  top: 5vh;
  margin-left: 88%;
  transform: none;
  z-index: 9999;
  cursor: pointer;
  @include media(M) {
    left: 50%;
    transform: translateX(22.5vh);
    margin-left: 0;
    top: 11.5vh;
  }
}

.pause_button {
  position: absolute;
  top: 0;
  left: 45vh;
  z-index: 500;
  @include media(M) {
    left: 50%;
    transform: translateX(18vh);
    top: 11.8vh;
  }
}

.info_row {
  position: absolute;
  max-width: 83%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.2vh 0 0 5%;
  z-index: 10;
  @include media(M) {
    margin: 7vh 0 0 0;
    left: 50%;
    width: 52vh;
    transform: translateX(-50%);
  }
}

.story_icon {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 0;
  height: 6.3vh;
  width: 30.8vh;
  aspect-ratio: 215 / 44;
  z-index: 5;
}

/* Общие правила для текстовых элементов */
#text_1_1,
#text_1_2,
#text_1_3,
#text_1_4,
#text_2_1,
#text_3_1,
#text_3_2,
#text_4_1 {
  opacity: 0;
  margin-top: 20vh;
}

.go_to_promo {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 6vh;
  text-align: center;
  border-radius: 5vh;
  background-color: #00EDA6; // Используем одно значение для фона
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.3vh;
  color: #000a12;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 9999;
  @include media(M) {
    bottom: 9%;
    width: 52vh;
    height: 6vh;
  }
}