@import "~@theme/styles";

.story-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: center center;
}

.story_controls {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 82%;
  top: 0;
  left: 0;
  @include media(M) {
    height: 100%;
    width: auto;
    left: 50%;
    transform: translate(-50%);
  }
}

.story_controls_end {
  height: 80%;
  @include media(M) {
    height: 100%;
  }
}


.text_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(0deg, #7000FF 0%, #110E1B 119.92%);
  @include media(M) {
    width: 58.2vh;
    left: 50%;
    transform: translate(-50%);
    height: 90%;
    top: 5%;
    display: flex;
    overflow: hidden;
    border-radius: 3vh;
    box-shadow: 0 0px 8px rgba(153, 75, 255, 0.6);
  }
}






.stories-segment {
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

#stories-segment_1 {
  z-index: 1;
  display: none;
}
#stories-segment_2 {
  z-index: 2;
  display: none;
}

#stories-segment_3 {
  z-index: 3;
  display: none;
}

#stories-segment_4 {
  z-index: 4;
 display: none;
}

#stories-segment_5 {
  z-index: 5;
  display: none;
}
#stories-segment_6 {
  z-index: 6;
  display: none;
}

#stories-segment_7 {
  z-index: 7;
  display: none;
}
#stories-segment_8 {
  z-index: 8;
  display: none;
}


.h1 {
  font-size: 4vh;
  color: var(--color-text-alt);
  text-align: left;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 800;
  position: absolute;
  width: 100%;
  word-break: normal;
  left: 50%;
  transform: translate(-50%);
  line-height: 115%;
  margin-left: 3vh;
  position: absolute;
}

.h2 {
  font-size: 4vh;
  color: var(--color-text-alt);
  text-align: center;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  line-height: 120%;
  word-break: normal;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
}




.video-player {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  width: auto;
  overflow: hidden;
  top: 0;
  user-select: none;
  pointer-events: none;
  z-index: 0;
  @include media(M) {
    height: 90%;
    top: 5%;
    border-radius: 1rem;
    filter: drop-shadow(0px 0px 15px rgba(208, 0, 255, 0.4));
  }
}

.video-container {
  height: 100%;
  z-index: 0;
  overflow: hidden;
  user-select: none;
  pointer-events: none;

}

.close_button {
  position: fixed;
  left: 0;
  margin-left: 88%;
  transform: unset;
  top: 5vh;
  z-index: 9999;
  cursor: pointer;
  @include media(M) {
    left: 50%;
    transform: translate(22.5vh);
    margin-left: 0;
    top: 11.5vh;
  }
}

.pause_button {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 45vh;
  @include media(M) {
    left: 50%;
    transform: translate(18vh);
    top: 11.8vh;
  }
}

.scale_down_animation {
  animation: scale_down 5s ease-out forwards;
}

@keyframes scale_down {
  100% {
    transform: scale(0.8);
    opacity: 0.9;
  }
}

.hide {
  display: none;
}

.player_status {
  position: relative;
  height: 30vh;
  width: 30vh;
  aspect-ratio: 1/1;
  margin-bottom: 5vh;
  left: 50%;
  transform: translate(-50%);
}

.game_thumbnail_border {
  position: relative;
  height: 40vh;
  width: 28.6vh;
  aspect-ratio: 5/7;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(94deg, #A432B5 5.66%, #D75FFF 11.66%, #A841B7 28.49%,
          #8B29D9 51.5%, #7B35ED 68.33%, #7140FF 83.6%, #4B86DE 93.72%, #4C6BDA 96.6%);
  border-radius: 2.3vh;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.game_thumbnail {
  position: relative;
  height: 39.3vh;
  width: 28vh;
  aspect-ratio: 5/7;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2vh;
}


.margin_top_small {
  margin-top: 4%;
}

.margin_top {
  margin-top: 14vh;
}

.margin_top_bigger {
  margin-top: 23vh;
}


.max_with_small {
  max-width: 28vh;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.max_with {
  max-width: 35vh;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.max_with_bigger {
  max-width: 40vh;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.max_with_max {
  max-width: 50vh;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.present_placeholder {
  position: relative;
  width: 40vh;
  height: 40vh;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 5vh;
}
.end_button {
  text-decoration: none;
  position: relative;
  width: 45vh;
  padding: 1.5vh 0;
  border-radius: 10vh;
  font-size: 3.2vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  margin-bottom: 2vh;
  z-index: 1000;
}

a {
  text-decoration: none!important;
}


.end_button:hover {
  text-decoration: none;
}
.height_not_full {
  height: 70%;
  @include media(M) {
    height: 100%;
  }
}

.get_gift {
  background-color: var(--color-primary-1);
  color: var(--color-layer-body);
}

.watch_again_icon {
  height: 4vh;
  width: auto;
  position: relative;
  margin-right: 2vh;
}

.fe-preloader {
  display: none!important;
}

.ref_img {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
  left: 50%;
  transform: translate(-50%);
}

.info_row {
  position: absolute;
  max-width: 83%;
  display: flex;
  justify-content: left;
  margin-top: 1.2vh;
  margin-left: 5%;
  z-index: 10;
  align-items: center;
  @include media(M) {
    margin-top: 7vh;
    margin-left: 0;
    left: 50%;
    width: 52vh;
    transform: translate(-50%);
  }
}


.story_icon {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 0;
  height: 6.3vh;
  width: 30.8vh;
  aspect-ratio: 215/44;
  z-index: 5;
}



.story_icon_top_text {
  position: relative;
  color: var(--color-text-alt);
  font-size: 2vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 400;
  top: 0;
  margin-left: 2vh;
  line-height: 120%;
}

.bonus_element {
  position: absolute;
  top: 39.5%;
  left: 3%;
  width: 36vh;
  height: 33vh;
  z-index: 5;
}

.bonus_status {
  position: absolute;
  color: var(--color-text-alt);
  font-size: 2.7vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  top: 0;
  left: 0;
  line-height: 100%;
  text-align: center;
  width: 100%;
}

.bonus_status_left {
  text-align: left;
  font-size: 2.4vh;
}

.bonus_container {
  position: absolute;
  top: 4vh;
  left: 0;
  width: 100%;
  height: 28vh;
  border-radius: 2vh;
  box-shadow: rgb(35, 28, 55) 0 4vh 2vh -2.5vh;
  overflow: hidden;
  background-color: var(--color-layer-alt-1);
}


.casino_container {
  position: absolute;
  color: var(--color-text-alt);
  font-size: 1.5vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  top: 2vh;
  left: 1.4vh;
  line-height: 100%;
  text-align: left;
  width: fit-content;
  height: fit-content;
  border-radius: 3vh;
  padding: 0.15vh;
  background: linear-gradient(90deg,#eb02e2,#2797ff);
}

.casino_container_sport {
  background: linear-gradient(90deg, #f4395a, #ca0fd8);
}

.casino {
  position: relative;
  color: var(--color-text-alt);
  font-size: 1.5vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  top: 0;
  left: 0;
  line-height: 100%;
  text-align: left;
  width: auto;
  border-radius: 3vh;
  padding: 0.5vh 1vh;
  background-color: var(--color-layer-alt-1);
}

.expires {
  position: absolute;
  top: 0;
  right: -25vh;
  background-color: var(--color-layer-alt-3);
  border-radius: 3vh;
  text-align: right;
  display: flex;
  align-items: center;
}

.dot_expires {
  position: relative;
  width: 1vh;
  height: 1vh;
  aspect-ratio: 1/1;
  background-color: var(--color-error);
  border-radius: 50%;
  margin: 0.7vh 0.1vh 0.7vh 0.7vh
}

.text_expires {
  position: relative;
  color: var(--color-text-body);
  font-size: 1.5vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 400;
  top: 0;
  left: 0;
  line-height: 100%;
  text-align: right;
  width: auto;
  white-space: nowrap;
  margin: 0.7vh 0.2vh 0.7vh 0.5vh;
}

.time_expires {
  position: relative;
  color: var(--color-text-alt);
  font-size: 1.5vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  top: 0;
  left: 0;
  line-height: 100%;
  text-align: right;
  width: auto;
  white-space: nowrap;
  margin: 0.7vh 1vh 0.7vh 0;
}

.bonus_name {
  position: absolute;
  color: var(--color-text-alt);
  font-size: 2.47vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  top: 7.5vh;
  left: 0.3vh;
  line-height: 100%;
  text-align: left;
  width: auto;
  white-space: nowrap;
}

.icon_deposit {
  position: absolute;
  top: 4.5vh;
  left: 25vh;
  width: 8vh;
  height: 8vh;
  aspect-ratio: 1/1;
  z-index: 5;
}

.conditions_row {
  position: absolute;
  top: 14.5vh;
  left: 0.3vh;
  z-index: 5;
  display: flex;
  flex-direction: row;
}

.condition_line {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 2vh;
}

.condition_top_text {
    position: relative;
    color: var(--color-text-alt);
    font-size: 1.5vh;
    font-family: "Sora", sans-serif;
    font-style: normal;
    font-weight: 700;
    top: 0;
    left: 0;
    line-height: 150%;
    text-align: left;
    width: auto;
    white-space: nowrap;
}

.condition_bottom_text {
  position: relative;
  color: var(--color-text-body);
  font-size: 1.25vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 400;
  top: 0;
  left: 0;
  line-height: 150%;
  text-align: left;
  width: auto;
  white-space: nowrap;
}

.details_button {
  position: absolute;
  top: 20.5vh;
  left: 0;
  width: 15.5vh;
  height: 4.2vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5vh;
  background-color: var(--color-secondary-6);
  color: var(--color-text-alt);
  font-size: 1.4vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.deposit_button {
  position: absolute;
  top: 20.5vh;
  left: 17.5vh;
  width: 15.5vh;
  height: 4.2vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5vh;
  background-color: var(--color-primary-1);
  color: var(--color-on-light-back);
  font-size: 1.4vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.avalible_order {
  color: #FFBA33;
  font-weight: 400;
  font-size: 1vh;
  background-color: unset;
  text-align: center;
  line-height: 180%;
}

.plaseholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 6;
}

.in_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: auto;
  z-index: 6;
  aspect-ratio: 1/1;
}
.bonus_flare {
  position: absolute;
  width: 8vh;
  height: 80vh;
  aspect-ratio: 5/8;
  top: -10vh;
  left: -20vh;
  z-index: 30;
  mix-blend-mode: soft-light;
  transform: rotate(10deg);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.00) 100%);
}

.yellow-text {
  color: var(--color-additional-1);
}

.phone_container {
  position: absolute;
  top: 28vh;
  left: 50%;
  transform: translate(-50%);
  width: 36vh;
  height: auto;
  z-index: 5;
}

.phone {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  top: 0;
  left: 0;
}

.phone_placeholder {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 2vh;
  height: auto;
  z-index: 6;
}

.status_icon {
  position: relative;
  width: 2.3vh;
  height: 2.3vh;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  z-index: 5;
  margin-left: 1vh;
}

.phone_clip {
  position: absolute;
  width: 36vh;
  height: 60vh;
  z-index: 5;
  top: 7.2vh;
  left: 0;
  overflow: hidden;
}

.phone_scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}
.hand {
  position: absolute;
  width: 9vh;
  height: auto;
  z-index: 50;
  top: 29vh;
  left: 29vh;
  opacity: 0;
}

.header_deposit {
  position: absolute;
  top: 10vh;
  left: 3.5vh;
  width: 29vh;
  height: auto;
  z-index: 10;
}

.deposit_amount {
  position: absolute;
  top: 17vh;
  left: 3.5vh;
  width: 29vh;
  height: auto;
  z-index: 10;
}
.deposit_bonus {
  position: absolute;
  top: 29vh;
  left: 3.5vh;
  width: 29vh;
  height: auto;
  z-index: 10;
}

#deposit_ui1 {
  position: absolute;
  top: 7vh;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}

.tada1{
  position: absolute;
  top: 43vh;
  left: 4vh;
  height: 14vh;
  width: auto;
  z-index: 50;
}

.tada2{
  position: absolute;
  top: 50vh;
  left: 35vh;
  height: 16vh;
  width: auto;
  z-index: 50;
  transform: scaleX(-1);
}

#bonus_container1s2_1 {
  z-index: 15;
}

#bonus_container2s2_1 {
  z-index: 14;
}

#bonus_container3s2_1 {
  z-index: 13;
}

.bonus_info {
  position: absolute;
  top: 8vh;
  left: 8%;
  width: 84%;
  height: auto;
  z-index: 15;
}

.arrow {
  position: absolute;
  top: 4.7vh;
  left: 16.5vh;
  height: 1.1vh;
  width: auto;
  z-index: 15;
}

.plaseholder_big {
  position: absolute;
  top: 10vh;
  left: 8%;
  width: 84%;
  height: auto;
  z-index: 15;
}

.top_clip {
  position: absolute;
  top: 35.2vh;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 16;
}

.ballance_drop {
  position: absolute;
  top: -1vh;
  left: 50%;
  transform: translate(-50.1%);
  width: 34vh;
  height: auto;
  z-index: 15;
}

#dropdown_all_s3_3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 15;
}

.active_bonuses {
  position: absolute;
  top: 16vh;
  left: 50%;
  transform: translate(-47%);
  width: 31vh;
  height: auto;
  z-index: 15;
}

.bonuses_clip {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%);
  width: 30vh;
  height: 18vh;
  z-index: 15;
  overflow: hidden;
}

.bonuses_row {
  position: absolute;
  top: 0;
  transform: translate(-25%);
  left: 50%;
  width: 58vh;
  height: 20vh;
  display: flex;
  z-index: 15;
  flex-direction: row;
}
.bonus_card {
  position: relative;
  height: 11vh;
  margin-right: 1vh;
  width: auto;
  top: 0;
  left: 0;
}

#dropdown_all_s3_3 {
  opacity: 0;
}

#phone_containers3_5 {
  width: 38vh;
  top: 30vh;
  overflow: hidden;
  height: 57vh;
}

.cash_box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: auto;
  z-index: 15;
}

.balance_block {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: auto;
  z-index: 15;
}

.operation_history {
  position: absolute;
  top: 43vh;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: auto;
  z-index: 15;
}

.cash_container {
  position: absolute;
  top: 9vh;
  left: 50%;
  transform: translate(-50%);
  width: 31vh;
  height: auto;
  z-index: 15;
}

#phone_containers4_1 {
  width: 38vh;
  top: 30vh;
  height: 57vh;
}

.navigation_img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: auto;
  z-index: 15;
}

.naw_container {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
  width: 31vh;
  height: auto;
  z-index: 16;
}

.slots_placeholder {
  position: absolute;
  top: 17vh;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: auto;
  z-index: 15;
}

.naw_clip {
  position: absolute;
  top: 0;
  left: 10.7vh;
  width: 20.1vh;
  height: 4.5vh;
  z-index: 16;
  overflow: hidden;
}
.naw_row {
  position: absolute;
  top: 0;
  left: 1vh;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 16;
  flex-direction: row;
  align-items: center;
}

.row_text {
  position: relative;
  color: var(--color-text-alt);
  font-size: 1.5vh;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  margin: 0 0.5vh;
  padding: 0.5vh 1vh;
  white-space: nowrap;
  align-items: center;
}



.text_selected {
  color: #110E1B;
  background-color: #FFFFFF;
  border-radius: 2vh;
}

.thumb_container {
  position: absolute;
  top: 32vh;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: auto;
  z-index: 15;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.thumb_img {
  position: relative;
  top: 0;
  left: 0;
  width: 14.6vh;
  height: auto;
  z-index: 15;
  border-radius: 2vh;
  margin: 0.7vh;
}

.slots_placeholder {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: auto;
  z-index: 15;
}

.slots_header {
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: auto;
    z-index: 15;
    text-align: left;
    color: var(--color-text-alt);
    font-size: 3.5vh;
    font-family: "Sora", sans-serif;
    font-style: normal;
    font-weight: 700;
    opacity: 0.8;
}

.slots_row {
  position: absolute;
  top: 16vh;
  left: 0;
  width: auto;
  height: 40vh;
  z-index: 15;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.thumb_img_row {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 40vh;
  z-index: 15;
  border-radius: 3vh;
  margin: 0.7vh;
}

.wager_icon {
  position: absolute;
  top: 1.5vh;
  left: 81.7vh;
  height: 4.8vh;
  width: auto;
  z-index: 16;
}

#thumb_to_scale_s4_2 {
  z-index: 20;
}
#wager_icon_s4_2 {
  z-index: 21;
}

.likes {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: auto;
  z-index: 20;
  opacity: 0;
}

.bet_terms {
  position: absolute;
  top: 32vh;
  left: 50%;
  transform: translate(-50%);
  width: 78%;
  height: auto;
  z-index: 20;
}

.bon_4_clip {
  position: absolute;
  top: 7.2vh;
  left: 0;
  width: 100%;
  height: 60vh;
  z-index: 20;
  overflow: hidden;
}

#bon_4_move {
  position: absolute;
  top: -7.2vh;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: auto;
  height: 100%;
  z-index: 0;
  aspect-ratio: 80/108;
}
.clip_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: 5Vh;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 5Vh;
  opacity: 0;
}
.char1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: auto;
  height: 100%;
  z-index: 1;
}

.bottom_gradient1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: auto;
  z-index: 2;
}
.title1 {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: auto;
  z-index: 3;
}

.logo1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center;
  width: auto;
  height: 13vh;
  z-index: 5;
  opacity: 1;
}

@keyframes logo1Animation {
  0% {
    height: 13vh;
  }
  100% {
    height: 450vh;
  }
}

@keyframes clipContainer1Animation {
  0% {
    mask-size: 5vh;
    opacity: 0;
  }
  100% {
    mask-size: 220vh;
    opacity: 1;
  }
}

@-webkit-keyframes clipContainer1Animation {
  0% {
    -webkit-mask-size: 5vh;
    opacity: 0;
  }
  100% {
    -webkit-mask-size: 220vh;
    opacity: 1;
  }
}

.logo1_animation {
  animation: logo1Animation 1.5s forwards;
}

.clip_container1_animation {
  -webkit-animation: clipContainer1Animation 1.5s forwards;
  animation: clipContainer1Animation 1.5s forwards;
}

.go_to_quest {
  position: absolute;
  bottom: 9vh;
  left: 50%;
  transform: translate(-50%);
  width: 85%;
  height: 7vh;
  text-align: center;
  z-index: 9999;
  border-radius: 4vh;
  background: var(--color-primary-gradient);
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  background-color: var(--color-text-link-default);
  font-style: normal;
  font-size: 2.7vh;
  color: #000a12;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
}



.watch_again {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  width: 85%;
  height: 7vh;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3vh;
  color: var(--color-text-alt);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
  z-index: 9999;
}

.icon_replay {
  position: relative;
  left: 0;
  top: 0;
  width: 3.5vh;
  height: 3.5vh;
  margin-right: 1vh;
  margin-left: -2vh;
}

#button1_flare {
  position: absolute;
  width: 10vh;
  height: 25vh;
  top: -6vh;
  left: -40%;
  transform: rotate(20deg);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 50%, rgba(255, 255, 255, 0.00) 100%);
  mix-blend-mode: overlay;
}

.player_name {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #833C08;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 5.5vh;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  transform: translateX(-53%) translateY(-32%) rotate(-11.3deg);
  width: 42vh;
  height: 18vh;
  z-index: 10;
  display: flex!important;
  align-items: center!important;
  word-break: break-word;
  justify-content: center!important;

}

.video-player{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  width: auto;
  overflow: hidden;
  top: 0;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 10;
}

.video-container {
  height: 100%;
  z-index: 0;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

#final_cta {
  opacity: 0;
}

.animate_brightness {
  animation: brightness 2s infinite linear;
}
@keyframes brightness {
  0% {
    filter: brightness(1);
  }
    50% {
        filter: brightness(1.2);
    }
  100% {
    filter: brightness(1);
  }
}

#text_1_1, #text_1_2, #text_1_3, #text_2_1, #text_3_1, #text_3_2, #text_3_3 {
  opacity: 0;
  margin-top: 20vh;
}

#sgm2 {
  opacity: 0;
  margin-top: 20vh;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-52%);
  height: auto;
  width: 93%;
}

.cup {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  width: auto;
  height: 55%;
  z-index: 5;
}

.go_to_promo {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 6vh;
  text-align: center;
  z-index: 9999;
  border-radius: 5vh;
  background: var(--color-primary-gradient);
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.3vh;
  color: #000a12;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  background-color: #00EDA6;
}

.flare {
  position: absolute;
  width: 10vh;
  height: 25vh;
  top: -6vh;
  left: -20%;
  transform: rotate(20deg);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFF 50%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: overlay;
}

.confety {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.8;
}

.text_3_scale {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  @media (max-aspect-ratio: 1/2) {
    transform: translate(-50%, -50%) scale(0.8);
    height: 120%;
    top: 45%;
  }
}

.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 20%,
    black 45%,
    black 70%,
    transparent 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 20%,
    black 45%,
    black 70%,
    transparent 85%,
    transparent 100%
  );
}



