@import "~@theme/styles";

.flip-card {
    user-select: none;
    width: 100%;
    height: 100%;

    &__side {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        box-sizing: border-box;
        transition: transform .6s cubic-bezier(.39, .2, .37, 1.54);

        &--front {
            transform: rotateY(0deg);
        }

        &--back {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &--rotatable {
        perspective: 1000px;
        transition: transform 400ms ease;
    }

    &--direction {
        &-right {
            .flip-card__side--back {
                transform: rotateY(180deg);
            }

            &.flip-card--rotated {
                .flip-card__side--front {
                    transform: rotateY(180deg);
                }
                .flip-card__side--back {
                    transform: rotateY(360deg);
                }
            }
        }
        &-left {
            .flip-card__side--back {
                transform: rotateY(-180deg);
            }

            &.flip-card--rotated {
                .flip-card__side--front {
                    transform: rotateY(-180deg);
                }
                .flip-card__side--back {
                    transform: rotateY(-360deg);
                }
            }
        }
        &-top {
            .flip-card__side--back {
                transform: rotateX(180deg);
            }

            &.flip-card--rotated {
                .flip-card__side--front {
                    transform: rotateX(180deg);
                }
                .flip-card__side--back {
                    transform: rotateX(360deg);
                }
            }
        }
        &-bottom {
            .flip-card__side--back {
                transform: rotateX(-180deg);
            }

            &.flip-card--rotated {
                .flip-card__side--front {
                    transform: rotateX(-180deg);
                }
                .flip-card__side--back {
                    transform: rotateX(-360deg);
                }
            }
        }
    }
}
